<h2>Hello Heart Services!</h2>
<p>
    The time is now: <%= Time.now %> (on the Heroku Server).
    <p onclick="this.innerText='(click here) Your local time is... ' + new Date(Date.now());event.preventDefault();">(click here) Your local time is... </p>
</p>